version: '2'
services:
  mongo:
    image: mongo
    volumes:
    - ./.data/mongo:/data/db
  rabbitmq:
    image: rabbitmq:3-management
    hostname: osbb
    ports:
    - "15672:15672"
    volumes:
    - ./.data/rabbitmq:/var/lib/rabbitmq/mnesia/rabbit@osbb
  asyncapi:
    image: osbb/asyncapi-service
    ports:
    - "3001:3001"
    links:
    - rabbitmq
    depends_on:
    - rabbitmq
    environment:
      RABBITMQ_URL: amqp://rabbitmq:5672
  decisions:
    image: osbb/decisions-service
    links:
    - mongo
    - rabbitmq
    depends_on:
    - mongo
    - rabbitmq
    environment:
      RABBITMQ_URL: amqp://rabbitmq:5672
      MONGO_URL: mongodb://mongo:27017
  cooperatives:
    image: osbb/cooperatives-service
    links:
    - mongo
    - rabbitmq
    depends_on:
    - mongo
    - rabbitmq
    environment:
      RABBITMQ_URL: amqp://rabbitmq:5672
      MONGO_URL: mongodb://mongo:27017
