version: '2'
services:
  mongo:
    image: mongo:3
    volumes:
    - ./.data/mongo:/data/db
  rabbitmq:
    image: rabbitmq:3
    hostname: osbb
    volumes:
    - ./.data/rabbitmq:/var/lib/rabbitmq/mnesia/rabbit@osbb
  redis:
    image: redis
  asyncapi:
    image: osbb/asyncapi-service
    links:
    - rabbitmq
    depends_on:
    - rabbitmq
    environment:
      RABBITMQ_URL: amqp://rabbitmq:5672
  webui:
    image: osbb/webui
    ports:
    - "3000:80"
    links:
    - asyncapi
  decisions:
    image: osbb/decisions-service
    links:
    - mongo
    - rabbitmq
    depends_on:
    - mongo
    - rabbitmq
    environment:
      RABBITMQ_URL: amqp://rabbitmq:5672
      MONGO_URL: mongodb://mongo:27017
  flats:
    image: osbb/flats-service
    links:
    - mongo
    - rabbitmq
    depends_on:
    - mongo
    - rabbitmq
    environment:
      RABBITMQ_URL: amqp://rabbitmq:5672
      MONGO_URL: mongodb://mongo:27017
  houses:
    image: osbb/houses-service
    links:
    - mongo
    - rabbitmq
    depends_on:
    - mongo
    - rabbitmq
    environment:
      RABBITMQ_URL: amqp://rabbitmq:5672
      MONGO_URL: mongodb://mongo:27017
  services:
    image: osbb/services-service
    links:
    - mongo
    - rabbitmq
    depends_on:
    - mongo
    - rabbitmq
    environment:
      RABBITMQ_URL: amqp://rabbitmq:5672
      MONGO_URL: mongodb://mongo:27017
  cooperatives:
    image: osbb/cooperatives-service
    links:
    - mongo
    - rabbitmq
    depends_on:
    - mongo
    - rabbitmq
    environment:
      RABBITMQ_URL: amqp://rabbitmq:5672
      MONGO_URL: mongodb://mongo:27017
  users:
    image: osbb/users-service
    links:
    - mongo
    - rabbitmq
    depends_on:
    - mongo
    - rabbitmq
    environment:
      RABBITMQ_URL: amqp://rabbitmq:5672
      MONGO_URL: mongodb://mongo:27017
  auth:
    image: osbb/auth-service
    links:
    - mongo
    - rabbitmq
    - redis
    depends_on:
    - mongo
    - rabbitmq
    - redis
    environment:
      RABBITMQ_URL: amqp://rabbitmq:5672
      MONGO_URL: mongodb://mongo:27017
      REDIS_URL: redis://redis:6379
